form(action="/employees" method="POST")
  input(type="text" name="name" placeholder="Enter Name")
  input(type="number" name="age" placeholder="Enter Age")
  input(type="text" name="username" placeholder="Enter Username")
  input(type="password" name="password" placeholder="Enter Password")
  button(type="submit") Submit
div
  a(href="/") Go back